apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-db
spec:
  serviceName: "{{ .Release.Name }}-db"
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-db
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-db
    spec:
      securityContext:
        runAsNonRoot: false
        fsGroup: 999

      containers:
      - name: postgres
        image: postgres:15
        ports:
          - containerPort: 5432

        envFrom:
          - secretRef:
              name: {{ .Release.Name }}-db-secret

        readinessProbe:
          exec:
            command:
              - pg_isready
              - -U
              - $(POSTGRES_USER)
          initialDelaySeconds: 10
          periodSeconds: 10

        volumeMounts:
          - name: db-storage
            mountPath: /var/lib/postgresql/data

  volumeClaimTemplates:
    - metadata:
        name: db-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
